

@model HelloWorld.ViewModels.LancamentoViewModel



<div class="row">
    <div class="col s1 offset-s10">
        <span class="flow-text">
            <a class="btn-floating btn-large waves-effect waves-light green" title="Voltar" onclick="buscarGrid()"><i class="material-icons">arrow_back</i></a>
        </span>
    </div>
</div>


@using (Ajax.BeginForm(Model.IdLancamento == 0 ? "Post" : "Put",
                                                                     "Lancamento", new AjaxOptions
                                                                     {
                                                                         HttpMethod = "Post",
                                                                         OnSuccess = "buscarGrid()",
                                                                         OnFailure = "DeuErrado(xhr)"
                                                                     }, new { @class = "col s12" }))
{

<div class="row">
    <input type="hidden" name="IdLancamento" value="@Model.IdLancamento" />
    <div class="input-field col s12">
        <input id="txtDescricao" type="text" class="validate" name="Descricao" value="@Model.Descricao">
        <label for="txtDescricao">Descrição</label>
    </div>
    <div class="input-field col s12">
        <input id="txtDataEvento" type="text" class="validate" name="DataEvento" value="@Model.DataEvento">
        <label for="txtDataEvento">DataEvento</label>
    </div>

    <div class="input-field col s12">
  
        @using (Html.BeginForm("Test", "Lancamento", FormMethod.Post, new { @id = "formIdTest" } ))
        {


            @Html.DropDownListFor(prop => prop.ListaAcao, new SelectList(this.Model.ListaAcao, "IdAcao", "Nome"), "Selecione aqui", new { @id = "myFirstDropDownList" })


        }
    </div>

    <div class="input-field col s12">
        <input id="txtIdCategoria" type="text" class="validate" name="IdCategoria" value="@Model.IdCategoria">
        <label for="txtIdCategoria">IdCategoria</label>
    </div>

    <div class="input-field col s12">
        <input id="txtIdConta" type="text" class="validate" name="IdConta" value="@Model.IdConta">
        <label for="txtIdConta">IdConta</label>
    </div>
    <div class="input-field col s12">
        <input id="txtValor" type="text" class="validate" name="Valor" value="@Model.Valor">
        <label for="txtValor">Valor</label>
    </div>

</div>



@*<form class="col s12">

    <div class="row">
   
            <div class="row">
                <input type="hidden" name="IdLancamento" value="@Model.IdLancamento" />
                <div class="input-field col s12">
                    <input id="txtDescricao" type="text" class="validate" name="Descricao" value="@Model.Descricao">
                    <label for="txtDescricao">Descrição</label>
                </div>
                <div class="input-field col s12">
                    <input id="txtDataEvento" type="text" class="validate" name="DataEvento" value="@Model.DataEvento">
                    <label for="txtDataEvento">DataEvento</label>
                </div>


                <div class="input-field col s12">
                    <input id="txtIdAcao" type="text" class="validate" name="IdAcao" value="@Model.IdAcao">
                    <label for="txtIdAcao">IdAcao</label>
                </div>
                <div class="input-field col s12">
                    <input id="txtIdCategoria" type="text" class="validate" name="IdCategoria" value="@Model.IdCategoria">
                    <label for="txtIdCategoria">IdCategoria</label>
                </div>

                <div class="input-field col s12">
                    <input id="txtIdConta" type="text" class="validate" name="IdConta" value="@Model.IdConta">
                    <label for="txtIdConta">IdConta</label>
                </div>
                <div class="input-field col s12">
                    <input id="txtValor" type="text" class="validate" name="Valor" value="@Model.Valor">
                    <label for="txtValor">Valor</label>
                </div>
            </div>*@

            



            <div class="row">
                <div class="col s1 offset-s10">
                    <div class="fixed-action-btn">
                        <button type="submit"
                                class="btn-floating btn-large waves-effect waves-light green validate"
                                title="Salvar"
                                id="btnSalvarLancamento">
                            <i class="large material-icons">save</i>
                        </button>
                    </div>
                </div>
            </div>

}




<script>

    $("#txtDataEvento").trigger("change");
    $("#txtDescricao").trigger("change");
    $("#txtIdCategoria").trigger("change");
    $("#txtIdAcao").trigger("change");
    $("#txtIdConta").trigger("change");
    $("#txtValor").trigger("change");



    $("#btnSalvarLancamento").click(function () {
        if ($("#DataEvento").val().trim() == "") {
            alert("Obrigatorio informar Nome do lancamento para prosseguir ");
            return false;
        };
    });

    function DeuErrado(xhr) {
        alert(xhr.responseText);
    }




</script>





